.currentNumbers {
    background: rgba(0, 0, 0, 0.65);
    position: relative;
    margin: 8px 4px 0 0;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 65%;
    justify-content: flex-start;
}
.currentNumbers> div{
    margin: auto;
    flex-direction: column;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    width: 12%;
}

.firstFive>div{
    box-sizing: border-box;
    height: 20%;
}

.remainingNumbers>div{
    box-sizing: border-box;
    height: 10%
}

.firstQuotes>div, .secondQuotes>div, .lastQuotes>div{
    height: 10%;
}

@media screen and (max-width: 800px) {

    .currentNumbers {
        width: 100%;
        margin: 8px 0 0 0;
    }
}