.currentNumbers {
    margin: 8px 4px 0 0;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 65%;
    justify-content: flex-start;
    border: 1px solid black;
}

.firstFive {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.firstFive>div{
    box-sizing: border-box;
    width: 20%;
}
.remainingNumbers{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.remainingNumbers>div{
    box-sizing: border-box;
    width: 10%
}

@media screen and (max-width: 800px) {

    .currentNumbers {
        width: 100%;
        margin: 8px 0 0 0;
    }
}