.currentTickets {
    background: rgba(0, 0, 0, 0.65);
    margin: 8px 0 0 0;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.ticketsTitle{
    color: white;
    text-shadow:
   -1.5px -1.5px 0.9px black,  
    1.5px -1.5px 0.9px black,
    -1.5px 1.5px 0.9px black,
     1.5px 1.5px 0.9px black;
}
.row {
    display: flex;
}
.stake {
    margin-left: 8px;
    color: white;
    text-shadow:
   -0.7px -0.7px 0.9px black,  
    0.7px -0.7px 0.9px black,
    -0.7px 0.7px 0.9px black,
     0.7px 0.7px 0.9px black;
    align-self: center;
}