.activeTicket {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    align-items: center;
}
.ticket {
    display: flex;
    flex-direction: row;
}
.ticketNumber {
    display: flex;
    box-sizing: border-box;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    margin: 1px 0.5px;
    border: 1px solid black;
    border-radius: 6%;
    background-color:rgba(255, 255, 255, 0.7);
}
.ticketNumber>p{
    text-shadow:
    -0.7px -0.7px 0.2px black,  
     0.7px -0.7px 0.2px black,
     -0.7px 0.7px 0.2px black,
      0.7px 0.7px 0.2px black;
}
.ticketNumber>.red{
    color: rgb(238, 0, 0) ;
}
.ticketNumber>.green{
    color: green;
}
.ticketNumber>.blue{
    color: blue;
}
.ticketNumber>.purple{
    color: purple;
}
.ticketNumber>.brown{
    color: rgb(123, 88, 4);
}
.ticketNumber>.yellow{
    color: gold;
}
.ticketNumber>.orange{
    color: rgb(255, 104, 16);
}
.ticketNumber>.black{
    color: black;
    font-weight: normal;
    text-shadow:
   -1px -1px 0.3px rgb(255, 255, 255),  
    1px -1px 0.3px rgb(255, 255, 255),
    -1px 1px 0.3px rgb(255, 255, 255),
     1px 1px 0.3px rgb(255, 255, 255) !important;
     
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
}
.bidWrapper {
    display: flex;
    margin: 4px;
    width: 100%;
    justify-content: space-around;
}
.bid {
    transition: all 0.4s ease-out;
    margin: 1px;
    width: 6rem;
    height: 2rem;
    font-size: large;
    font-weight: bold;
}
.bid:hover {
    transition: all 0.3s ease-out;
    border-radius: 0;
    color: white;
    background-color: rgb(0, 51, 0);
}
.bidDisabled {
    transition: all 0.4s ease-out;
    margin: 1px;
    width: 6rem;
    height: 2rem;
    font-size: large;
    font-weight: bold;
}
.bidDisabled:hover {
    transition: all 0.3s ease-out;
    border-radius: 0;
    color: white;
    background-color: red;
}
.bidAmount {
    width: 6rem;
}
.bidAmount[type=number] {
    -moz-appearance: textfield;
  }
.bidAmount::-webkit-outer-spin-button,
.bidAmount::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.bidAmount:valid:focus {
border: 4px solid green;
}
.bidAmount:invalid {
    border: 4px solid red
}