.numberBox {
    background-color: rgb(221, 221, 221);
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.01rem solid;
    background-color: rgb(48, 48, 48);
    margin: 0.3rem 0.7rem;
}
.red{
    background-color: red ;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: purple;
}
.brown{
    background-color: saddlebrown;
}
.yellow{
    background-color: gold;
}
.orange{
    background-color: orangered;
}
.black{
    background-color: black;
}