.ticketNumbers {
    margin: 8px 0 0 4px;
    display: flex;
    height: fit-content;
    width: 35%;
    justify-content: space-evenly;
    border: 1px solid black;
}
.ticketNumbers > div{
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;
}

.selectNumberBox {
    
    background-color: rgb(158, 158, 158);
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    border: 1px solid black;
    margin: 0.3rem 0.7rem;
}






@media screen and (max-width: 800px) {

    .ticketNumbers {
        width: 100%;
        flex-wrap: wrap;
        margin: 8px 0 0 0;
    }
}