.ticketNumbers {
    background: rgba(0, 0, 0, 0.65);
    margin: 8px 0 0 4px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 35%;
    justify-content: center;
    align-items: center;
}
.numbersSelection {
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-evenly;
}
.numbersSelection > div{
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;
}

.selectNumberBox {
    
    background-color: rgb(158, 158, 158);
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    border: 1px solid black;
    margin: 0.3rem 0.7rem;
}
.ticketButtonWrapper {
    width: 20%;
    justify-content: space-around;
    display: flex;
}
.ticketButton {
    padding: 2px 5px;
    width: fit-content;
    height: fit-content;
    font: large bold;
    margin-bottom: 4px;
}
.ticketButton:hover {
    background-color: #242424;
    color: white;
    border-radius: 0;
    transition: all 0.3s ease;
  }





@media screen and (max-width: 800px) {

    .ticketNumbers {
        width: 100%;
        margin: 8px 0 0 0;
    }
    
}