body {
  background-image: url("bck.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.App {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
*{
  padding: 0;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica;
}
.gameContainer{
  
  display: flex;
  margin: 8px 5% 8px 5%;
}
.column{
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {

  .gameContainer {
      flex-direction: column;
  }
}